@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
$small-breakpoint: 600px;
$medium-breakpoint: 768px;
$large-breakpoint: 992px;
$x-large-breakpoint: 1200px;

$size-app-max-width: 992px;

$grid-1: 5px;
$grid-2: 10px;
$grid-3: 15px;
$grid-4: 20px;
$grid-5: 25px;
$grid-6: 30px;
$grid-7: 35px;
$grid-8: 40px;
$grid-9: 45px;
$grid-10: 50px;
$grid-20: 100px;
$grid-40: 200px;

$box-shadow-standard:  0 1px 6px 0 rgba(34, 35, 38, 0.18);

$color-primary: #33425b;
$color-text: #29252c;
$color-secondary: #d8e9f0;
$color-highlight: #d72323;
$color-white: #eeeeee;

$border-width: 1px;
$border-radius: 0.5rem;

$font-weight-bold: 600;
$font-size-s: 12px;
$font-size-m: 18px;
$font-size-l: 32px;

$transition: .15s ease-in-out;

$font-sans-sherif: 'Quicksand', sans-serif;
$font-sans-main: 'Ubuntu', sans-serif;

h3 {
    font-size: x-large;
    color: rgb(85, 87, 110);
    margin: 1rem;
    user-select: none;
}

.heading {
    max-width: $size-app-max-width;
        text-align: center;
        letter-spacing: 3px;
        margin-bottom: 3rem;
}
.highlighted-text {
    background-color: antiquewhite;
}